<div class="container">
  <p-card>
    <h3>基本資料</h3>

    <p-divider></p-divider>

    <div class="row">

      <div class="col-3">
        <div class="flex flex-column gap-2">
          <label>姓名</label>
          <input placeholder="name" pInputText />
        </div>
      </div>

      <div class="col-3">
        <div class="flex flex-column gap-2">
          <label>系所</label>
          <input placeholder="department" pInputText />
        </div>
      </div>

      <div class="col-3">
        <div class="flex flex-column gap-2">
          <label>年級</label>
          <input placeholder="grade" pInputText />
        </div>
      </div>

      <div class="col-3">
        <div class="flex flex-column gap-2">
          <label>性別</label>
          <input placeholder="sex" pInputText />
        </div>
      </div>

      <div class="col-4">
        <div class="flex flex-column gap-2">
          <label>出生年</label>
          <input placeholder="year" pInputText />
        </div>
      </div>

      <div class="col-4">
        <div class="flex flex-column gap-2">
          <label>出生月</label>
          <input placeholder="month" pInputText />
        </div>
      </div>

      <div class="col-4">
        <div class="flex flex-column gap-2">
          <label>出生日</label>
          <input placeholder="date" pInputText />
        </div>
      </div>

      <div class="col-12">
        <div class="flex flex-column gap-2">
          <label>地址</label>
          <input placeholder="address" pInputText />
        </div>
      </div>

      <div class="col-6">
        <div class="flex flex-column gap-2">
          <label>電子郵件</label>
          <input placeholder="mail" pInputText />
        </div>
      </div>

      <div class="col-6">
        <div class="flex flex-column gap-2">
          <label>連絡電話</label>
          <input placeholder="phone" pInputText />
        </div>
      </div>

    </div>

    <div class="text-center mt-2">
      <button pButton pRipple label="Submit" class="p-button-success"></button>
      <p-button label="Cancel" styleClass="p-button-raised p-button-secondary"></p-button>
    </div>

  </p-card>
</div>
