//primng
p-card {
  margin: 10px;
}

//強制更改Primeng預設樣式
:host ::ng-deep {
  .p-card {
    border-radius: 10px;
  }
  .button{
    border-radius: 6px;
  }
  .p-button,
  button{
    margin: 20px 5px 0 0;
    border-radius: 6px;
  }
  textarea{
    width: 100%;
    border-radius: 6px;
  }
  .p-dropdown{
    width: 100%;
    border-radius: 6px;
  }
  .p-calendar{
    width: 100%;
    border-radius: 6px;
  }

}

p-checkbox,
checkbox{
  //上、右、下、左
  margin: 45px 5px 0 5px;
}

p-radioButton,
  radioButton{
    margin: 20px 5px 0 0;
  }

input {
  width: 100%;
  border-radius: 6px;
  //上、右、下、左
  //margin: 5px 0 20px 0px;
}

label{
  margin: 10px 0 0 0;
}

h3 {
  text-align: center;
  font-weight: bold;
  //上、右、下、左
  margin: 0 0 10px 0;
}

//使網頁內容置中
.container {
  margin: 0 auto;
  margin-top: 5px;
  padding: 0 15px;
  width: 1200px;
  max-width: 100%;
}
